<div>

  {% if artist %}
    <h1> {{artist.name}} </h1>
    <div>
      <img
        src="{{ artist.images[0].url }}"
        height="{{ artist.images[0].height }}"
        width="{{ artist.images[0].width }}"
        alt="{{artist.name}} "
      >
    </div>
    <ul>
      {% for genre in artist.genres %}
        <li>{{ genre }}</li>
      {% endfor %}
    </ul>
      {% if top_tracks %}
      <h3>{{ 'Top tracks'|t }}</h3>
          <ol>
              {% for track in top_tracks %}
                  <li>{{ track.name }}</li>
              {% endfor %}
          </ol>
    {% endif %}
{% else %}

  {%  if (drupal_block('spotify_artists_block')['content']['#artists'] == NULL) %}
      <h2>{{ 'Oops no artist info, check settings.'|t }}</h2>
  {% else %}
      <h2>{{ 'Oops no artist info, try selecting one from this list:'|t }}</h2>
      {% include 'spotify-artists-block.html.twig' with {
          artists: existing_artists
      }  %}
{#      {{ drupal_block('spotify_artists_block') }}#}
  {% endif %}

{% endif %}

</div>

