<div>
    <div>
        {% if not active_filter %}
                {{ 'Filter results by'|t }}:
            {% for filter in filters %}
                <a href="{{ path('spotify_artists.report', { error_type:filter}) }}">
                    {{ filter|capitalize }}
                </a>
            {% endfor %}
        {% endif %}
    </div>

    {% if active_filter %}
        <div>
            {{ 'Results filtered by'|t }} <strong>{{ active_filter|t }}</strong>
            <br>
            <a href="{{ path('spotify_artists.report') }}"> {{ 'Reset'|t }}</a>
        </div>
    {% endif %}

</div>
